h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

h2 {
  font-size 1.3rem;
  font-weight 500;
}

.sidebar > .sidebar-links > li > a.sidebar-link {
  font-size: 1.05rem !important;
  font-weight: 500 !important;
}

.home .hero .action {
  margin: 2.0rem auto !important;
}

.home .hero .action-button {
  padding: 0.6rem 1.5rem !important;
}

#main-title {
  display: none;
}
