h1 {
  font-size 1.8rem
  font-weight 500
}

h2 {
  font-size 1.3rem
  font-weight 500
}

strong {
  color #fa5c14
}

em {
  color #389e0d
  font-style normal
  background #f1efe0
  padding 2px 6px
  border-radius 2px
}

.navbar {
  z-index 20
  border-bottom 0
  box-shadow 0 2px 8px #f0f1f2
}

.navbar .site-name {
  display none
}

.sidebar {
  margin-top 40px
  width 18rem
}

.sidebar > .sidebar-links > li > a.sidebar-link {
  font-size 1.05rem !important
  font-weight 500 !important
}

.sidebar > .sidebar-links {
  padding 0 !important
}

.theme-default-content {
  padding 3rem 2.5rem !important
}

.home .hero .action {
  margin 2.0rem auto !important
}

.home .hero .action-button {
  font-size 1.1rem !important
  padding 0.5rem 1.4rem !important
}

#main-title {
  display none
}
